<div class="card p-2" style="width: 18rem;">
  <img [src]="product.image" class="card-img-top" alt="...">
  <div class="card-body" >
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.description}}</p>

    <!-- <p [ngStyle]="{'color': product.count? 'green' : 'red' }" >{{product.count > 0 ? 'instock: ' + product.count : 'outstock'}}</p> -->

    <h3>{{product.price}}</h3>
    <div class="d-flex my-5 gap-5">
      <button class="btn btn-danger"  (click)="decreaseCounter()">-</button>
      <h3>{{ productCounter }}</h3>
      <button class="btn btn-success" (click)="increaseCounter()" >+</button>
    </div>
    <a [routerLink]="['details', product.id]"  class="btn btn-primary">view</a>
  </div>
</div>